.ipynb_checkpoints/castro_ai_daily-checkpoint.ipynb
castro_ai_weekly.ipynb
.env
.ipynb_checkpoints/casro_ai_report-checkpoint.ipynb
.ipynb_checkpoints/casro_ai_report-checkpoint.ipynb
.ipynb_checkpoints/castro_ai_weekly-checkpoint.ipynb
.ipynb_checkpoints/castro_ai_report-checkpoint.ipynb
